#### Read SWUDS data workbook

In [1]:
#import modules
import sys, os, xlrd
import pandas as pd
import numpy as np

In [2]:
#Filenames
dataDir = '../../Data'
scratchDir = '../../Scratch'
xlFN = dataDir + os.sep + 'Proprietary/MississippiWaterUse.xlsx'
outFN = dataDir + os.sep + "MSsummary.csv"

In [3]:
#Read the xlsx file in as a dataframe
dfAll = pd.read_excel(xlFN)

In [4]:
#Select only 2010 records and list the number of data for each column
df2010 = dfAll[dfAll.Year == 2010]
df2010.count()

From Agency Code                  889
From Site Number                  889
From Station Name                 889
From Site Type Code               889
From Site Type Name               889
From State Fips Code              889
From State Name                   889
From County Fips Code             889
From County Name                  889
From Decimal Latitude             889
From Decimal Longitude            889
From Hydrologic Unit Code         889
From Hydrologic Unit Code Name    736
From National Aquifer Code        889
From National Aquifer Name        885
From Aquifer Code                 889
From Aquifer Name                 886
From Aquifer Type Code            889
From Agency Use Code              889
From National Water Use Code      889
To Agency Code                    889
To Site Number                    889
To Station Name                   889
To Site Type Code                 889
To Site Type Name                 889
To Site Type Long Name            889
To Decimal Latitude                74
To Decimal Longitude               74
To State Fips Code                889
To State Name                     889
To County Fips Code               889
To County Name                    889
To National Water Use Code        889
To SIC Code                        76
To SIC Code Description            76
To NAICS Code                       0
To NAICS Code Description           0
Year                              889
Annual Value                      889
Annual Reporting Unit Name        889
Irrigation Method Code              0
Water Use Subtype Code            889
dtype: int64

In [5]:
#List unique SIC values found in 2010 records
print df2010['To SIC Code Description'].unique()

[u'Water Supply' nan]

In [6]:
#List unique NAICS values
print df2010['To NAICS Code'].unique()

[ nan]

In [7]:
#List the number of unique SIC Code descriptions by year
print dfAll.groupby('Year')['To SIC Code Description'].nunique()

Year
1950      1
1955      2
1960      4
1964      2
1965      4
1966      1
1967      6
1968     10
1969      8
1970     15
1971     21
1972     16
1973      3
1974     29
1975     31
1976     11
1977     15
1978      6
1979     48
1980     57
1981     78
1982     82
1983     83
1984     89
1985    111
1986     58
1987     25
1988     20
1989      4
1990     25
1991      1
2010      1
Name: To SIC Code Description, dtype: int64

In [14]:
#List the number of years in which each SIC code has been recorded
#print dfAll.groupby('To SIC Code Description')['Year'].nunique()
print dfAll.pivot('Water Use Subtype Code',columns=('Year'),aggfunc='count')

TypeError: pivot() got an unexpected keyword argument 'aggfunc'