In [1]:
#Import libraries
import sys, os
import pandas as pd
import numpy as np

In [4]:
#Set the filenames
dataDir = "../../Data"
dataFN = dataDir + os.sep + "HydroData.csv"
outFN = dataDir + os.sep + "StateSupply.csv"

In [7]:
#Create dataframe from HydroData.csv
dfData = pd.read_csv(dataFN,dtype={'YEAR':str,'COFIPS':str,'STFIPS':str})
dfData.dtypes

YEAR          object
LONGITUDE    float64
LATITUDE     float64
COFIPS        object
STFIPS        object
RUNOFF       float64
PRECIP       float64
ET           float64
SME          float64
dtype: object

In [8]:
#Add supply column as precipition minus evapotranspiration (Brown, 2008)
dfData['SUPPLY'] = dfData['PRECIP'] - dfData['ET']

In [23]:
#Remove records with no state fips 
dfData = dfData[dfData.STFIPS != '-1']

In [26]:
#Pivot data, summing yearly supply values for each state
pvData = dfData.pivot_table(index=('FIPS'),columns=('YEAR'),values=('SUPPLY'),aggfunc=np.sum)
pvData.head()

YEAR             2000           2005          2010
STFIPS
01      348109.728027  525026.618408  8.663139e+05
04      180445.968239  184165.971001  2.123547e+05
05      316665.503052  410542.824036  5.836946e+05
06      708780.694885  635773.806156  1.279900e+06
08      130638.774048   72941.746185  2.318621e+05

In [27]:
#Add FIPS as column (from index)
pvData["STFIPS"] = pvData.index.values

In [37]:
#Reorder columns
pvData = pd.DataFrame(pvData,columns=["STFIPS","2000","2005","2010"])
pvData.head()

       STFIPS           2000           2005          2010
STFIPS
01         01  348109.728027  525026.618408  8.663139e+05
04         04  180445.968239  184165.971001  2.123547e+05
05         05  316665.503052  410542.824036  5.836946e+05
06         06  708780.694885  635773.806156  1.279900e+06
08         08  130638.774048   72941.746185  2.318621e+05

In [39]:
#Save as csv file
pvData.to_csv(outFN,index=False)

In [70]:
#Create a supply table for 2000
df2000 = dfData[dfData.YEAR == '2000']
pv2000 = dfData.pivot_table(index=('STFIPS'),columns=('YEAR'),values=('SUPPLY'),aggfunc=np.sum).T
pv2000.head()

STFIPS,01,04,05,06,08,09,10,11,12,13,...,46,47,48,49,50,51,53,54,55,56
YEAR,,,,,,,,,,,,,,,,,,,,,
2000,348109.728027,180445.968239,316665.503052,7.087807e+05,130638.774048,42679.395447,14122.252686,689.572754,356019.569122,449095.094208,...,68281.358856,258419.154541,238941.681809,70842.024147,56613.812561,388867.412354,864745.653725,130159.021362,198746.165985,103895.876190
2005,525026.618408,184165.971001,410542.824036,6.357738e+05,72941.746185,51709.857239,10534.726501,439.211548,275534.552002,419812.982483,...,81525.379181,420197.061829,404629.702347,46771.695152,101988.209106,251289.408936,771265.903221,192198.005737,398719.854950,66448.061554
2010,866313.863098,212354.723244,583694.641479,1.279900e+06,231862.069794,89411.343079,22674.397705,887.298279,562812.684570,826830.644104,...,20682.055817,609409.510681,925375.384689,166693.012939,99148.700684,463996.570526,717873.208557,232463.653259,278303.124451,210816.900482

In [80]:
pv2000 = pd.DataFrame(pvData['2000']).T
pv2000

STFIPS,01,04,05,06,08,09,10,11,12,13,...,46,47,48,49,50,51,53,54,55,56
2000,348109.728027,180445.968239,316665.503052,708780.694885,130638.774048,42679.395447,14122.252686,689.572754,356019.569122,449095.094208,...,68281.358856,258419.154541,238941.681809,70842.024147,56613.812561,388867.412354,864745.653725,130159.021362,198746.165985,103895.87619